<footer>
    <div class="container">
        <div class="row">
            <h2>ABOUT</h2>
            <p>
                This project started from an independent research I did where I questioned freelance research
                journalists.
                After some interviews, tests and studying their workdays and customs, I began designing a tool that
                makes it easy for them
                to write an interactive data-driven article.
            </p>
        </div>
        <div class="row">
            <img src="images/logo.png">
            <p>
                To read more about the background and research of this project, please be directed to
                <a href="https://github.com/leoniesmits/graduation-project">the Github</a> or to
                <a href="">the document page</a>.
            </p>

        </div>
        <div class="row">
            <h2>Useful links</h2>
            <ul>
                <li>
                    <a href="https://github.com/fivethirtyeight/data/tree/master/college-majors">
                        College majors dataset</a>
                </li>
                <li>
                    <a href="https://projects.fivethirtyeight.com/clinton-trump-hip-hop-lyrics/">
                        Fivethirtyeight trump lyrics project</a>
                </li>
                <li>
                    <a href="https://github.com/leoniesmits">
                        My portfolio</a>
                </li>
                
            </ul>
        </div>
    </div>

</footer>