<nav>
    <div class="container">
        <a href="/">Infografisch</a>
        <button class="toggle">
            <span></span>
        </button>
        <ul>
            <li>About</li>
            <li>How</li>
        </ul>
    </div>
</nav>