<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <a href="/variables">definieer je variabelen</a>
    <a href="/article">schrijf je artikel</a>    
</body>
</html>