<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <section>
        <h1>Pick datset</h1>
        <button>
            upload je eigen data
        </button>
        <button>
            kies een voorbeeld dataset
        </button>
    </section>  
</body>
</html>