<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body>

    <main class="variables-main">
        <h1>1. Kies je data</h1>
        <div class="controls">
            <button>
                plak je data met ⌘+v
            </button>
            <button>
                upload je eigen data
            </button>
            <button>
                kies een voorbeeld dataset
            </button>
        </div>
        <div class="datafield">

        </div>

    </main>

    <script src="../js/variables.js"></script>
    <%- include('./partials/footer'); %>

</body>

</html>